<div class='pull-right'>
  <%= link_to 'New Blog Post', new_blog_post_path, class: 'btn btn_info' %>
</div>

<h1>Blog Posts</h1>
<div class="row">
  <%= @blog_posts.each do |blog_post| %>
    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= blog_post.post_title %></h3>
        </div>
        <div class="panel-body">
        <p>by <%= blog_post.user.email %></p>
        <p><small><em><%= time_ago_in_words(blog_post.created_at) %> ago</em></small></p>
        <p><%= blog_post.entry %></p>
          
        </div>
        <div class="panel-footer">
          <%= link_to 'Edit', edit_blog_post_path(blog_post), method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
      </div>
    </div>  
  <% end %>
</div>
