<p id="notice"><%= notice %></p>

<p>
  <strong>Post title:</strong>
  <%= @blog_post.post_title %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @blog_post.entry %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
